In [1]:
from dinero import Dinero
from dinero.currencies import CLP, USD

amount = Dinero(234342.3010, USD)
amount.raw_amount
amount.symbol
amount.code

formatted = amount.format_amount(symbol=True, currency=True)
print(formatted)

$234,342.30 USD

In [2]:
from dinero import Dinero
from dinero.currencies import CLP, USD

unit_price = Dinero(2.32, USD)
print(unit_price * 3)
number_sold = 3
money_received = 6.96
if unit_price * number_sold == money_received:
    print('Accounts balanced')
else:
    raise ValueError('Accounts not balanced')

6.96
Accounts balanced

## Mutations

### Add

In [3]:
from dinero import Dinero
from dinero.currencies import EUR

amount = Dinero("333.3", EUR)
total = amount.add(333.3)
print(total)

666.60

In [4]:
from dinero import Dinero
from dinero.currencies import EUR

amount_1 = Dinero("333.3", EUR)
amount_2 = Dinero(333.3, EUR)

total = amount_1.add(amount_2)
print(total)

666.60

In [5]:
from dinero import Dinero
from dinero.currencies import EUR, USD

amount_1 = Dinero("333.3", USD)
amount_2 = Dinero(333.3, USD)

total = amount_1 + amount_2
print(total)

666.60

In [6]:
from dinero import Dinero
from dinero.currencies import EUR, USD

amount_1 = Dinero("333.3", EUR)
amount_2 = Dinero(333.3, EUR)
amount_3 = Dinero(333.3, EUR)

total = sum([amount_1, amount_2, amount_3])
print(total)

999.90

In [7]:
# different currencies will raise a DifferentCurrencyError
from dinero import Dinero
from dinero.currencies import EUR, USD
from dinero.exceptions import DifferentCurrencyError

amount_1 = Dinero("333.3", EUR)
amount_2 = Dinero(333.3, USD)

try:
    amount_1.add(amount_2)
    amount_1 + amount_2
    sum([amount_1, amount_2])
except DifferentCurrencyError:
    print('Can not operate with different currencies')

Can not operate with different currencies

### Subtract

In [8]:
from dinero import Dinero
from dinero.currencies import EUR

amount = Dinero("20.20", EUR)
total = amount.subtract('10.20')
print(total)

10.00

In [9]:
from dinero import Dinero
from dinero.currencies import EUR

amount_1 = Dinero("20.20", EUR)
amount_2 = Dinero("10.20", EUR)
total = amount_1.subtract(amount_2)
print(total)

10.00

In [10]:
from dinero import Dinero
from dinero.currencies import EUR, USD

amount_1 = Dinero("20.20", EUR)
amount_2 = Dinero("10.20", EUR)
total = amount_1 - amount_2
print(total)

10.00

In [11]:
# different currencies will raise a DifferentCurrencyError
from dinero import Dinero
from dinero.currencies import EUR, USD
from dinero.exceptions import DifferentCurrencyError

amount_1 = Dinero("333.3", EUR)
amount_2 = Dinero(333.3, USD)

try:
    amount_1.subtract(amount_2)
    amount_1 - amount_2
except DifferentCurrencyError:
    print('Can not operate with different currencies')

Can not operate with different currencies

### Multiply

In [12]:
from dinero import Dinero
from dinero.currencies import EUR

amount = Dinero("20", EUR)
total = amount.multiply(2)
print(total)

40.00

In [13]:
from dinero import Dinero
from dinero.currencies import EUR

amount_1 = Dinero("20.00", EUR)
amount_2 = Dinero("2.0", EUR)
total = amount_1.multiply(amount_2)
print(total)

40.00

In [14]:
from dinero import Dinero
from dinero.currencies import EUR, CLP

amount_1 = Dinero("20.00", EUR)
amount_2 = Dinero("2.0", EUR)
total = amount_1 * amount_2
print(total)

40.00

In [15]:
from dinero import Dinero
from dinero.currencies import USD

amount = Dinero("20.00", USD)
total = amount * 2.9
print(total)

58.00

In [16]:
# different currencies will raise a DifferentCurrencyError
from dinero import Dinero
from dinero.currencies import EUR, USD
from dinero.exceptions import DifferentCurrencyError

amount_1 = Dinero("333.3", EUR)
amount_2 = Dinero(333.3, USD)

try:
    amount_1.multiply(amount_2)
    amount_1 * amount_2
except DifferentCurrencyError:
    print('Can not operate with different currencies')

Can not operate with different currencies

### Divide

In [17]:
from dinero import Dinero
from dinero.currencies import EUR

amount = Dinero("20", EUR)
total = amount.divide(2)
print(total)

10.00

In [18]:
from dinero import Dinero
from dinero.currencies import EUR

amount_1 = Dinero("20.00", EUR)
amount_2 = Dinero("2.0", EUR)
total = amount_1.divide(amount_2)
print(total)

10.00

In [19]:
from dinero import Dinero
from dinero.currencies import EUR

amount_1 = Dinero("20.00", EUR)
amount_2 = Dinero("2.0", EUR)
total = amount_1 / amount_2
print(total)

10.00

In [20]:
from dinero import Dinero
from dinero.currencies import EUR

amount = Dinero("20", EUR)
total = amount / 2
print(total)

10.00

In [21]:
# different currencies will raise a DifferentCurrencyError
from dinero import Dinero
from dinero.currencies import EUR, USD
from dinero.exceptions import DifferentCurrencyError

amount_1 = Dinero("20", EUR)
amount_2 = Dinero(2, USD)

try:
    amount_1.divide(amount_2)
    amount_1 / amount_2
except DifferentCurrencyError:
    print("Can not operate with different currencies")

Can not operate with different currencies

## Comparison

In [22]:
from dinero import Dinero
from dinero.currencies import EUR

amount_1 = Dinero("333.2", EUR)
amount_2 = Dinero(333.3, EUR)
amount_3 = Dinero(333.4, EUR)

highest = max([amount_1, amount_2, amount_3])
lowest = min([amount_1, amount_2, amount_3])

print(highest)
print(lowest)

333.40
333.20

In [23]:
from dinero import Dinero
from dinero.currencies import EUR

amount_1 = Dinero("333.2", EUR)
amount_2 = Dinero(333.3, EUR)

# less than
amount_1.less_than(amount_2)
amount_1.less_than(333.3)
amount_1 < amount_2
amount_1 < 333.3

# less than or equal
amount_1.less_than_or_equal(amount_2)
amount_1.less_than_or_equal(333.3)
amount_1 <= amount_2
amount_1 <= 333.3

# greater than
amount_1.greater_than(amount_2)
amount_1.greater_than(333.3)
amount_1 < amount_2
amount_1 < 333.3

# greater than or equal
amount_1.greater_than_or_equal(amount_2)
amount_1.greater_than_or_equal(333.3)
amount_1 > amount_2
amount_1 > 333.3

# equals
amount_3 = Dinero(333.2, EUR)
amount_1.equals_to(amount_3)
amount_1.equals_to(333.2)
amount_1 == amount_3
amount_1 == 333.2

True

## to_dict

In [24]:
from dinero import Dinero
from dinero.currencies import USD

amount = Dinero("3333.259", USD)
amount.to_dict(amount_with_format=False)

{'amount': '3333.26',
 'currency': {'code': 'USD', 'base': 10, 'exponent': 2, 'symbol': '$'}}

In [25]:
from dinero import Dinero
from dinero.currencies import USD

amount = Dinero("3333.259", USD)
amount.to_dict(amount_with_format=True)

{'amount': '3,333.26',
 'currency': {'code': 'USD', 'base': 10, 'exponent': 2, 'symbol': '$'}}

## to_json

In [26]:
from dinero import Dinero
from dinero.currencies import USD

amount = Dinero("3333.2", USD)
amount.to_json(amount_with_format=False)

'{"amount": "3333.20", "currency": {"code": "USD", "base": 10, "exponent": 2, "symbol": "$"}}'

In [27]:
from dinero import Dinero
from dinero.currencies import USD

amount = Dinero("3333.2", USD)
amount.to_json(amount_with_format=True)

'{"amount": "3,333.20", "currency": {"code": "USD", "base": 10, "exponent": 2, "symbol": "$"}}'

## Transform

In [13]:
from decimal import Decimal, getcontext
from dinero import Dinero
from dinero.currencies import CLP

def calculate_loan(amount: Dinero, rate: int | float | Decimal, months: int):
    getcontext().prec = amount.precision
    rate = Decimal(rate)

    monthly_loan = amount.multiply(((rate / 12) * (1 / (1 - (1 + rate / 12) ** (-months)))))

    total_to_pay = Dinero(monthly_loan, amount.currency).multiply(months)

    return {
        "loan": amount.format_amount(symbol=True, currency=True),
        "months": months,
        "monthly_loan": Dinero(monthly_loan, amount.currency).format_amount(
            symbol=True,
            currency=True,
        ),
        "total_to_pay": total_to_pay.format_amount(symbol=True, currency=True),
    }


data = calculate_loan(amount=Dinero(1011053, CLP), rate=0.0332, months=24)
print(data)

AttributeError: 'Dinero' object has no attribute 'format_amount'